/*App and Nav*/

body{
    margin: 0px;
    background: black;
    font-family: Montserrat, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

div {
    display: block;
}

h1{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2{
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h3{
    font-size: 25px;
    font-weight: 400;
}

button {width: 200px; min-height: 50px; cursor: pointer; color: whitesmoke;
    font-family : inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0px 20px 20px 0px;
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;}

button:hover{
    color: #FF76E9;
    border-color: #FF76E9;
}

.purple-button{
    border-color: #7373FF;
    color: #7373FF;
}

.blue-button{
    border-color: #50B5FF;
    color: #50B5FF;
}

.gray-button{
    border: 1px solid #888888;
    color: #888888;
}



section{
    color: white;
    margin: 75px;
}

#app {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

img {
    height: 40px;
}

svg {
    flex: none;
    fill: lightgrey;
    transition: .5s;
    width: 20px;
    margin: 10px;
}

/* Nav */


#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #111111;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    left: 0;
}

.stretch{
    display: flex;
    padding: 50px;
    flex-grow: 1;
    justify-content: flex-end;
}

a.text {
    color: #FF76E9;
    text-decoration: none;
}

a.text:visited {
    color: #999999;
}

#nav a.link {
    margin-left: 20px;
    font-size: 12px;
}

a.link {
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 5px 0px;
    transition: .5s;
}

a.link:hover {
    color: #FF76E9;
}

a.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

a.link:hover:before {
    visibility: visible;
    width: 100%;
}

a.link.router-link-exact-active {
    color: #FF76E9;
}

@media (max-width: 630px) {
    #nav a.link{
        display: none;
    }
}

/* Hero */

#hero1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/interaction.jpg')
}
#hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/images/brain.gif')
}

.hero{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 75px);
    width: 100vw;
    display:table-cell;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

@media (max-width: 630px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


.buttons {
    margin: 50px 0px;
    display: flex;
}

/* Page Header */
.header{
    padding: 150px;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/about.jpg')
}

#projects-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/projects.jpg')
}

#livewire-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/livewire.png')
}

#contact-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/contact.jpg')
}

#contribute-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/contribute.jpg')
}

/* Newsletter*/

.form-cont{
    flex-basis: 100%;
    margin: 50px;
}

#newsletter-form{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #222222;
    padding: 20px;
    text-align: left;
}

#newsletter-form h3{
    flex-grow: 1;
    margin: 20px 0px 20px 0px;
}

.input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    background: transparent;
}

.input-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    flex-grow: 8;
    background: #111111;
    color: gray;
    font-size: 10px;
    font-family: Roboto, sans-serif;
}

.email-in{
    background: transparent;
    color: darkgray;
    border: none;
    flex-grow: 2;
}

.email-in::placeholder {
    color: gray;
}

.form-submit{
    font-family : inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid whitesmoke;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px 0px;
}

.form-submit:hover {
    border-color: #FF76E9;
    color: #FF76E9;
}

.break{
    flex-basis: 100%;
    height: 0;
}

/* Page TOC */

.toc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.toc-item{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 20px;
    flex-grow: 1;
    background: #222222;
    border: 2px solid black;
    border-top: 0;
    margin-top: 20px;
    border-radius: 20px;
}

/* About */
.about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 100px 100px 100px;
}

.about-right {
    width: 500px;
    margin: 0px;
}

.about-left {
    /*background: red;*/
    width: 250px;
    margin: 0px 50px 0px 0px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid white;
}

@media (max-width: 950px) {
    .about-section{
        justify-content: flex-start;
    }

    .about-right, .about-left{
        margin: 0px;
        flex-grow: 1;
        text-align: center;
    }
}


#service-container{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.service {
    flex-grow: 1;
    margin-bottom: 15px;
}

/*Projects*/

#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#projects a{
    text-decoration: none;
}

.project{
    color: white;
    text-decoration: none;
    padding: 50px;
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.livewire{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/livewire.png')
}

.bandg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/muse_pink.png')
}

.memory{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/devices/HMP.jpg')
}


/*Footer*/

.footer-text{
    font-size: 12px;
    flex-grow: 1;
}

.footer-links{
    margin: 20px;
}



#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 200px;
    padding: 0px 50px;
    background: #111111;
}

#left-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

#right-footer{
    flex-grow: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;
}
.social a {
    position: relative;
    cursor: pointer;
}

.social a:hover svg {
    fill: #FF76E9;
}

.social a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.social a:hover:before {
    visibility: visible;
    width: 100%;
}

.unavailable{
    color: #777777;
    cursor: default;
}

/* Contact */
.contact{
    display: flex;
    height:calc(100vh - 225px);
    justify-content: center;
    align-items: center;
}

/* App Nav */

#app-menu {
    height: 100%;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index:2;

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
}

#app-menu img{
    padding: 20px 0px 10px 0px;
    cursor: pointer;
}

#menu-toggle{
    left: 200px;
}

#app-menu:hover{
    left: 0px;
}

.toggle {
    position: absolute;
    background: transparent;
    height: 100%;
}

.toggle .icon:hover{
    background: transparent;
}

.icon{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
}

.icon:hover{
    background: #111111;
}

button i {
    margin-right: 20px;
}

.icon p{
    margin-left: 10px;
    font-size: 10px;
}

.icon a:visited{
    color: white;
}

/* Brainstorm */
#brainstorm h1{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

#brainstorm p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

#tut-buttons{
    display: flex;
    flex-wrap: wrap;
}

#tutorial{
    width: 100%; background: rgb(0,0,0);
    position: fixed; top: 0;
    left: 0; height: 100%; z-index:2;
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: center; opacity: .9;
    transition: 0.5s;

}

#tutorial-text{
    background: rgb(0,0,0);
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: center;}

.tut-div{
    width: 500px;
}

.tut-div p{
    margin-right: 20px
}

#parameters{
    position: fixed; width: 100%; background: transparent;
    top: 0px; left: 0px; padding: 0px;
}

#parameters div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 20px 10px;
}
#parameters input{
    margin: 10px;
    flex-grow: 1;
}

#chat-button{
    margin: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .5s;
    transition: opacity .5s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #7373FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7373FF;
    cursor: pointer;
}


/* Chat */

#chat {width: 300px; background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: fixed; top: 0; right: -300px;
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: flex-start; z-index:2;

    transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    -ms-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -webkit-transition: right 0.5s ease-in-out;
}

#chat:hover{
    right: 0;
}

#chat-toggle{
    right: 300px;
}

.toggle .icon{
    height: 100px;
    width: 100px;
}

form { flex-grow: 1; height: 15vh; padding: 0px 20px; display: flex; align-items: center; justify-content:center; background: rgb(50,50,50);}
form input {
    flex-grow:4; height: 50px; border-radius: 5px; border: 0; padding: 0px 20px; background: rgb(10,10,10); color:white;
}
form input:focus{
    outline: none;
}
form button {flex-grow: 1; width: auto;}

#messages {width: 100%; margin: 0; padding: 0px; height: 85vh;
    list-style-type: none; text-align: left; overflow: scroll;}
#messages::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#messages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#messages li { flex-grow: 1; padding: 5px 10px; color: whitesmoke;}
#messages li:nth-child(odd) { background: linear-gradient(rgba(50, 50, 50, 0.6), rgba(50, 50, 50, 0.6))}

